@using LoginBD.Models
@{
 //   ViewBag.Title = "Lista de Paquetes y Destinos Más Visitados";
    var clientes = ViewBag.Clientes as List<Cliente>;
    var deudores = ViewBag.Deudores as List<Cliente>;
}
<html>
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Lista de Clientes</h4>
                <div class="table-responsive">
                    <table id="clientesTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (clientes != null && clientes.Any())
                            {
                                foreach (var c in clientes)
                                {
                                    <tr>
                                        <td>@c.ClienteId</td>
                                        <td>@c.Nombre</td>
                                        <td>@c.Telefono</td>
                                        <td>@c.Direccion</td>
                                        <td>@c.Email</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No se encontraron clientes.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row table-container">
            <div class="col-md-12">
                <h4>Clientes con mas deudas</h4>
                <div class="table-responsive">
                    <table id="DeudasTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Email</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (deudores != null && deudores.Any())
                            {
                                foreach (var d in deudores)
                                {
                                    <tr>
                                        <td>@d.Nombre</td>
                                        <td>@d.Telefono</td>
                                        <td>@d.Direccion</td>
                                        <td>@d.Email</td>
                                        <td>@d.Monto</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No se encontraron deudores.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
