@using LoginBD.Models
@{
    ViewBag.Title = "Lista de Paquetes y Destinos Más Visitados";
    var paquetes = ViewBag.Paquetes as List<Paquete>;
    var destinos = ViewBag.Destinos as List<Destino>;
}

<head>
    <style>
       
        span.red {
            background-color: red;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: inline-block;
        }

        span.green {
            background-color: green;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: inline-block;
        }

        span.black {
            background-color: black;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: inline-block;
        }

        span.grey {
            background-color: grey;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: inline-block;
        }
    </style>
</head>
<html>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h4>Lista de Paquetes</h4>
                <div class="table-responsive">
                    <table id="paquetesTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Cantidad de Pasajeros</th>
                                <th>Cliente</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (paquetes != null && paquetes.Any())
                            {
                                foreach (var paquete in paquetes)
                                {
                                    string estadoCirculo = "";
                                    switch (paquete.DescripcionEstado)
                                    {
                                        case "Pagado":
                                            estadoCirculo = "<span class='green'></span>";
                                            break;
                                        case "Pendiente de Pago":
                                            estadoCirculo = "<span class='red'></span>";
                                            break;
                                        case "Cancelado":
                                            estadoCirculo = "<span class='grey'></span>";
                                            break;
                                        default:
                                            estadoCirculo = "<span class='grey'></span>";
                                            break;
                                    }

                                    <tr>
                                        <td>@paquete.PaqueteId</td>
                                        <td>@paquete.Descripcion</td>
                                        <td>@paquete.CantidadPasajeros</td>
                                        <td>@paquete.Cliente?.Nombre</td>
                                        <td>@paquete.Precio</td>
                                        <td>
                                            @Html.Raw(estadoCirculo) @paquete.DescripcionEstado
                                        </td>
                                        <td>
                                            <a href="@Url.Action("GetPaqueteById", "Paquetes", new { paqueteId = paquete.PaqueteId })" class="btn btn-sm btn-success">
                                                <span class="glyphicon glyphicon-arrow-right"></span> Ver detalles
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">No se encontraron paquetes.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  
        <div class="row table-container">
            <div class="col-md-12">
                <h4>Destinos Más Visitados</h4>
                <div class="table-responsive">
                    <table id="destinosTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID Destino</th>
                                <th>País</th>
                                <th>Provincia</th>
                                <th>Descripción</th>
                                <th>Número de Visitas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (destinos != null && destinos.Any())
                            {
                                foreach (var destino in destinos)
                                {
                                    <tr>
                                        <td>@destino.IdDestino</td>
                                        <td>@destino.Pais</td>
                                        <td>@destino.Provincia</td>
                                        <td>@destino.Descripcion</td>
                                        <td>@destino.NumeroVisitas</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No se encontraron destinos.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
