@{
    var paquete = ViewBag.Paquete as LoginBD.Models.Paquete;
    var Estadias = ViewBag.Estadias as List<LoginBD.Models.Estadia>;
    var error = ViewBag.Error;
}

<div class="container">
    <h2>Detalles del Viaje</h2>

    @if (paquete != null)
    {
        <div>
            <p><strong>ID del Paquete:</strong> @paquete.PaqueteId</p>
            <p><strong>Descripción:</strong> @paquete.Descripcion</p>
            <p><strong>Cantidad de Pasajeros:</strong> @paquete.CantidadPasajeros</p>
            <p><strong>Cliente ID:</strong> @paquete.ClienteId</p>
            <p><strong>Precio:</strong> $@paquete.Precio</p>
            <p><strong>Estado del paquete:</strong> @paquete.DescripcionEstado</p>
        </div>
    }
    else if (error != null)
    {
        <div class="alert alert-danger">
            @error
        </div>
    }

    <div class="container">
        <h4>Lista de Estadías</h4>
        <div class="table-responsive">
            <table id="estadiasTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID Estadía</th>
                        <th>Fecha de Llegada</th>
                        <th>Fecha de Salida</th>
                        <th>Ubicación</th>
                        <th>Hotel</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Estadias != null && Estadias.Any())
                    {
                        foreach (var e in Estadias)
                        {
                            <tr>
                                <td>@e.IdEstadia</td>
                                <td>@e.FechaLlegada</td>
                                <td>@e.FechaSalida</td>
                                <td>@e.Ubicacion</td>
                                <td>@e.Hotel</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No se encontraron estadías.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
